 @import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&display=swap');
 @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

 
.line-- {
  width: 50px;
  height: 31px;
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  margin-top: 44px;
  margin-right: 7.9%;
  font: bold;
  color: #18347E;
}

#line2-- {
  margin-right: 15.9%;
  
}

.btn-- {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 92%;
  top: 150px;
  background: #FFE0D3;
  border-radius: 50%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  border: solid 0px;
  color: #18347E;
}

.btn2-- {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 84%;
  top: 150px;
  font-style: normal;
  background: #FFE0D3;
  border-radius: 50%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #18347E;
  border: solid 0px;
}

.btn3-- {
  position: absolute;
  border-color: #18347E;
  width: 60px;
  height: 60px;
  left: 76%;
  top: 150px;
  font-style: normal;
  background: #FFE0D3;
  border-radius: 50%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #18347E;

}

#details-- {
  margin-left: 92%;
  margin-top: 100px;
  margin-right: 50px;
  padding: 0% !important;
}

#list-- {
  margin-left: 84%;
  margin-top: 100px;
  margin-right: 5px;
  padding: 0% !important;
}

#okey-- {
  margin-left: 76%;
  margin-top: 100px;
  margin-right: 7px;
  padding: 0% !important;
}

 h4 {
   color: #18347e;
   direction: rtl;
   text-align: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
 }

 .by {
   direction: rtl;
   text-align: center;
   padding: 0px !important;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
 }

 #part3--{
   height: 352px !important;
   position: absolute;
  width: 100%; 
  top: 300px;
  background: #F2FCFF;
 }

 
 .image{
  margin-left: 0%;
  border-radius: 50%;
  block-size: 90px;
}

