@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
.bg-img {
  /* The image used */
  background-image: url("../assas/HomePage.PNG");
  height: 650px;
  width: 100%;
  background-size: cover;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  /* position: absolute; */
  /* margin: 20px; */
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  /* margin-top: 20px; */
  background-color: #F2FCFF;
  height: 80px;
}

/* Navbar links */
.topnava {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #18347e;
  width: 99px;
  height: 20px;
  left: 1245px;
  top: 57px;
}

.topnav a:hover {
  color: #ffe0d3;
}

.text {
  position: absolute;
  font-family: "Heebo";
  font-style: bold;
  font-weight: 500;
  font-size: 95px;
  line-height: 100px;
  color: #f2fcff;
  margin: 50;
}

.text1 {
  position: absolute;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 95px;
  line-height: 140px;
  text-align: right;
  color: #f2fcff;
  margin-right: 15px;
}

.text2 {
  width: 581px;
  height: 96px;
  left: 747px;
  top: 552px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  text-align: right;
  color: #18347e;
  margin-right: 50px;
}

.button1 {
  position: absolute;
  color: #18347e;
  background-color: transparent;
  border-radius: 18px;
  margin-right: 40px;
  border: 2px solid #ffe0d3;
  text-align: center;
  width: 120px;
  height: 50px;
  right: 200px;
  top: 500px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 440px;
  font-size: 22px;
  line-height: 27px;
}

.button2 {
  position: absolute;
  color: #18347e;
  background-color: transparent;
  border-radius: 18px;
  margin-right: 40px;
  border: 2px solid #ffe0d3;
  width: 120px;
  height: 50px;
  text-align: center;
  right: 350px;
  top: 500px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.button1:hover {
  background-color: #ffe0d3;
  color: #18347e;
}

.button2:hover {
  background-color: #ffe0d3;
  color: #18347e;
}
