/* #part1 {
    direction: rtl;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2px;
    background: rgba(154, 197, 209, 0.13);
} */

#part2 {
    direction: rtl;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2px;
    background: rgba(154, 197, 209, 0.13);
}

#part3 {
    position: absolute;
    width: 100%;
    height: 1610px;
    top: 300px;
    background: #F2FCFF;
}

.line {
    width: 50px;
    height: 31px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    margin-top: 160px;
    margin-right: 7.9%;
    font: bold;
    color: #18347E;
}

#line2 {
    margin-right: 15.9%;
    opacity: 0.4;
}

.btn {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 92%;
    top: 150px;
    background: #FFE0D3;
    border-radius: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border: solid 0px;
    color: #18347E;
}

.btn2 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 84%;
    top: 150px;
    border-color: #18347E;
    font-style: normal;
    background: #FFE0D3;
    border-radius: 50%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    color: #18347E;
}

.btn3 {
    opacity: 0.4;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 76%;
    top: 150px;
    font-style: normal;
    background: #FFE0D3;
    border-radius: 50%;
    border: solid 0px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    color: #18347E;

}

.pratim {
    width: 7px;
    height: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    margin-top: 200px;
    color: #18347E;
}

#details {
    margin-left: 92%;
}

#list {
    margin-left: 84%;

}

#okey {
    margin-left: 76%;
    opacity: 0.4;
}

p {
    padding: 20px 50px 50px 50px;
    color: #18347E;
}

h1 {
    color: #356D9C;
    direction: rtl;
    text-align: center;
    margin-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    
}

.acamol{
    position: absolute;
    margin-left:15% ;
    margin-right:12% ;
    margin-top: 329px;
    font-size: 50px;
}

#decsamol{
    margin-top: 529px;
}

#decsamol2{
    margin-top: 729px;
}



.date{
    position: absolute;
    margin-left:4% ;
    margin-top: 345px;
    margin-right:40% ;
    color: #7591D9;
}

#lastDate{
    margin-top: 545px; 
}

#lastDate3{
    margin-top: 745px; 
}

.date2{
    position: absolute;
    margin-left:10% ;
    margin-top: 348px;
    margin-right:60% ;
    color: #356D9C;
}
#lastDate2{
margin-top: 548px;
}

#lastDate4{
    margin-top: 748px;
    }

.rec {
    position: absolute;
    width: 95%;
    height: 1400px;
    left: 27px;
    top: 150px;
    bottom: 50px;
    background: rgba(242, 252, 255, 0.56);
    box-shadow: 0px 0px 20px #7591D9;
    border-radius: 31px;
}

.rec2 {
    box-sizing: border-box;
    position: absolute;
    width: 88%;
    height: 134px;
    left: 71px;
    top: 400px;

    border: 2px solid #6981BE;
}
#reco{
    top: 600px;
}

#reco2{
    top: 800px;
}

.box{
    direction: rtl;
    display: flex;
}


.btn4 {
    position: absolute;
    margin-left: 75%;
    margin-top: 100px;
    width: 237px;
    height: 135px;
    
    border: solid 0px;
    background: #FFE0D3;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 87px;
    color: #18347E;
    font-size: 30px;

}

.btn5 {
    position: absolute;
    width: 110px;
    height: 60px;
    margin-right: 80%;
    margin-top: 330px;
    background: #FFE0D3;
    border-radius: 87px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    border: solid 0px;
    color: #18347E;
}

#update{
    margin-top: 530px;
}

#update2{
    margin-top: 730px;
}

