
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
.medicalsContainer {
  background: rgba(242, 252, 255, 0.56);
  box-shadow: 0px 0px 5px #7591d9;
  border-radius: 31px;
  border: 1px solid #7591d9;
  margin: 10px 20px;
  padding: 20px;
}
.medicList {
  width: 70%;
  justify-content: center;
  text-align: center;
}
.continueBtn {
  background: #18347e;
  box-shadow: 26px 4px 29px rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  width: 174px;
  height: 73px;
  color: #ffe0d3;
}
